# Introduction to Sci-Kit Learn (sklearn)

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn import linear_model

In [2]:
data=pd.read_csv(r'../input/heart-disease/heart-disease.csv')

In [3]:
data

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [4]:
 # Create X (Feature Matrix)
 X = data.drop("target", axis=1)

 # Create Y (lables)
 y = data["target"]

In [5]:
# Choose the right model and Hyperparameters

from sklearn.ensemble import RandomForestClassifier
clf = RandomForestClassifier(n_estimators=100)

# We'll keep the default hyperparameters
clf.get_params()

{'bootstrap': True,
 'ccp_alpha': 0.0,
 'class_weight': None,
 'criterion': 'gini',
 'max_depth': None,
 'max_features': 'auto',
 'max_leaf_nodes': None,
 'max_samples': None,
 'min_impurity_decrease': 0.0,
 'min_samples_leaf': 1,
 'min_samples_split': 2,
 'min_weight_fraction_leaf': 0.0,
 'n_estimators': 100,
 'n_jobs': None,
 'oob_score': False,
 'random_state': None,
 'verbose': 0,
 'warm_start': False}

In [6]:
# Fit the model to the training data

from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.2)

In [7]:
clf.fit(X_train, y_train);

In [8]:
 X_train

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
212,39,1,0,118,219,0,1,140,0,1.2,1,0,3
224,54,1,0,110,239,0,1,126,1,2.8,1,1,3
15,50,0,2,120,219,0,1,158,0,1.6,1,0,2
188,50,1,2,140,233,0,1,163,0,0.6,1,1,3
235,51,1,0,140,299,0,1,173,1,1.6,2,0,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...
61,54,1,1,108,309,0,1,156,0,0.0,2,0,3
73,51,1,0,140,261,0,0,186,1,0.0,2,0,2
46,44,1,2,140,235,0,0,180,0,0.0,2,0,2
34,51,1,3,125,213,0,0,125,1,1.4,2,1,2
66,51,1,2,100,222,0,1,143,1,1.2,1,0,2

In [9]:
y_pred=clf.predict(X_test)
y_pred

array([1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 1, 0,
       0, 1, 1, 1, 0, 0, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 1, 1, 0, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0])

In [10]:
y_test

54     1
299    0
76     1
36     1
134    1
      ..
39     1
211    0
84     1
26     1
244    0
Name: target, Length: 61, dtype: int64

In [11]:
# Evaluate the model on the training data and test data

clf.score(X_train, y_train)

1.0

In [12]:
clf.score(X_test, y_test)

0.8524590163934426

In [13]:
 from sklearn.metrics import classification_report, confusion_matrix, accuracy_score

 print (classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.77      0.87      0.82        23
           1       0.91      0.84      0.88        38

    accuracy                           0.85        61
   macro avg       0.84      0.86      0.85        61
weighted avg       0.86      0.85      0.85        61

In [14]:
confusion_matrix(y_test, y_pred)

array([[20,  3],
       [ 6, 32]])

In [15]:
accuracy_score(y_test, y_pred)

0.8524590163934426

In [16]:
# Improve a model
# Try different amount of n_estimators

np.random.seed(42)
for i in range(10, 120, 10):
  print(f"Trying model with {i} estimators")
  clf= RandomForestClassifier(n_estimators=i).fit(X_train, y_train)
  print(f"Model Accuracy on test set: {clf.score(X_test, y_test)*100:.2f}%")
  print("")

Trying model with 10 estimators
Model Accuracy on test set: 81.97%

Trying model with 20 estimators
Model Accuracy on test set: 85.25%

Trying model with 30 estimators
Model Accuracy on test set: 81.97%

Trying model with 40 estimators
Model Accuracy on test set: 83.61%

Trying model with 50 estimators
Model Accuracy on test set: 85.25%

Trying model with 60 estimators
Model Accuracy on test set: 86.89%

Trying model with 70 estimators
Model Accuracy on test set: 85.25%

Trying model with 80 estimators
Model Accuracy on test set: 83.61%

Trying model with 90 estimators
Model Accuracy on test set: 85.25%

Trying model with 100 estimators
Model Accuracy on test set: 86.89%

Trying model with 110 estimators
Model Accuracy on test set: 85.25%

In [17]:

# Save a model and load it
import pickle
pickle.dump(clf, open("random_forest_1.pk1", "wb"))

In [18]:
# Load a model
loaded_model = pickle.load(open("random_forest_1.pk1", "rb"))
loaded_model.score(X_test, y_test)

0.8524590163934426

# # 1. Getting our data redy to be used with machine learrning 

**These main things we have to do:**
   1. Split the data into features and lables(usually 'X' & 'y')
   2. Filling (also called imputing) or disregarding missing values
   3. Converting non numerical values to numerical values (also called feature encoding)

In [19]:
data.head(6)

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
5,57,1,0,140,192,0,1,148,0,0.4,1,0,1,1

In [20]:
X = data.drop("target", axis=1)
X.head(5)

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2

In [21]:
y = data['target']
y.head()

0    1
1    1
2    1
3    1
4    1
Name: target, dtype: int64

In [22]:
# Split the data into training and test sets

from sklearn.model_selection import train_test_split
X_testtrain, X_test, y_train,  y_test = train_test_split(X, y, test_size=0.2)

In [23]:
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((242, 13), (61, 13), (242,), (61,))

# # Cleaning Our Data for Better Model

# 1.1 Make sure it's all Numerical

In [24]:
car_sales = pd.read_csv('../input/car-sales/car-sales-extended-missing-data.csv')
car_sales.head(5)

     Make Colour  Odometer (KM)  Doors    Price
0   Honda  White        35431.0    4.0  15323.0
1     BMW   Blue       192714.0    5.0  19943.0
2   Honda  White        84714.0    4.0  28343.0
3  Toyota  White       154365.0    4.0  13434.0
4  Nissan   Blue       181577.0    3.0  14043.0

In [25]:
car_sales.dtypes

Make              object
Colour            object
Odometer (KM)    float64
Doors            float64
Price            float64
dtype: object